@model Cumulative_Project_1.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h2>Teacher Information</h2>

<div class="center">
    <div class="t-font"><h3>@Model.TeacherName </h3></div>

        <div>
            <div id="t-class"><p>@Model.TeacherName teaches @Model.ClassCode @Model.ClassName.</p></div>
        </div>
        <div>
            <p>Employee Number: @Model.EmployeeNumber </p>
            <p>Teacher Hire Date: @Model.HireDate </p>
            <p>Teacher Salary: @Model.TeacherSalary</p>
        </div>
 </div>

